@inject SignInManager<ApplicationUserModel> SignInManager

<div class="navContainer">
  <div class="navContainerLink">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item"><a class="nav-link admin highLightLink" id="user-list" href="" data-target="UserList">Настройки доступа</a></li>
      @*<li class="nav-item"><a class="nav-link admin highLightLink" id="personal-data" href="" data-target="PersonalData">Управление отделами</a></li>*@
      <li class="nav-item"><a class="nav-link admin highLightLink" id="user-list" href="" data-target="UserList">Список пользователей</a></li>
    </ul>
  </div>
  <div class="container" id="partialContainer"></div>    
</div>
<script src="~/js/getRolesForm.js"> </script>
<script src="~/js/HighligthLink.js"> </script>