@inject SignInManager<ApplicationUserModel> SignInManager

<div class="navContainer">
  <div class="navContainerLink">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item"><a class="nav-link admin" id="access" href="" data-target="AccessSettings">Настройки доступа</a></li>
      <li class="nav-item"><a class="nav-link admin" id="email" href="" data-target="ChangeEmail">Управление учетными записями</a></li>                       
      <li class="nav-item"><a class="nav-link admin" id="personal-data" href="" data-target="PersonalData">Управление отделами</a></li>
      <li class="nav-item"><a class="nav-link admin" id="user-list" href="" data-target="UserList">Список пользователей</a></li>
    </ul>
  </div>
  <div class="container" id="partialContainer"></div>    
</div>
<script src="~/js/getRolesForm.js"> </script>