@inject SignInManager<ApplicationUserModel> SignInManager

<div class="navContainer">
  <div class="navContainerLink">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">@Html.ActionLink("Настройки доступа", "", "", "", new {@class="nav-link admin highLightLink defaultMenuItem", @id="user-list", @data_target="UserList"})</li>
    </ul>
  </div>
  <div class="container" id="partialContainer"></div>    
</div>
<script src="~/js/getRolesForm.js"> </script>
<script src="~/js/HighligthLink.js"> </script>
<script src="~/js/defaultMenuItem.js"></script>
