@inject SignInManager<ApplicationUserModel> SignInManager

<div class="navContainer">
  <div class="navContainerLink">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item"><a class="nav-link account" id="profile" href="" data-target="Profile">Профиль</a></li>
      <li class="nav-item"><a class="nav-link account" id="email" href="" data-target="ChangeEmail">Эл.почта</a></li>
      <li class="nav-item"><a class="nav-link account" href="" data-target="ChangePassword">Пароль</a></li>                 
      <li class="nav-item"><a class="nav-link account" id="personal-data" href="" data-target="PersonalData">Персональные данные</a></li>
    </ul>
  </div>
  <div class="container" id="partialContainer"></div>    
</div>

<script src="~/js/NavLinkAccount.js"></script>
<script src="~/js/HighligthLink.js"></script>
