@model ChangePasswordModel
@{
    ViewData["Title"] = "Изменение пароля";
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" asp-action="ChangePassword" asp-controller="ManageAccount" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="OldPassword" class="form-control" autocomplete="current-password" placeholder="Please enter your old password." />
                <label asp-for="OldPassword" class="form-label"></label>
                <span asp-validation-for="OldPassword" id="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="NewPassword" class="form-control" autocomplete="new-password" placeholder="Please enter your new password." />
                <label asp-for="NewPassword" class="form-label"></label>
                <span asp-validation-for="NewPassword" id="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Please confirm your new password." />
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="ConfirmPassword" id="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" id="submitBtn" class="btn fw-bold btn-success" disabled>Изменить пароль</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
