
<div class="navContainer">
    <div class="navContainerLink">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link account highLightLink defaultMenuItem" asp-action="Profile" asp-controller="ManageAccount">Профиль</a></li>
            <li class="nav-item"><a class="nav-link account highLightLink" id="email" asp-action="ChangeEmail" asp-controller="ManageAccount">Эл.почта</a></li>
            <li class="nav-item"><a class="nav-link account highLightLink" asp-action="ChangePassword" asp-controller="ManageAccount">Пароль</a></li>
            <li class="nav-item"><a class="nav-link account highLightLink" id="personal-data" asp-action="DeletePersonalData" asp-controller="ManageAccount">Персональные данные</a></li>
        </ul>
    </div>
    <div class="container" id="partialContainer"></div>
</div>

<script src="~/js/ManageAccountPanel.js" type="module" asp-append-version="true"></script>
<script src="~/js/HighligthLink.js" asp-append-version="true"></script>
<script src="~/js/defaultMenuItem.js" asp-append-version="true"></script>
