@model Company.Models.Employee 

@{
    ViewData["Title"] = "Create";    
}

<h1>Добавить сотрудника</h1>

<h4>Анкета:</h4>
<hr />

<div class="row">  
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="form-label">Имя</label>                
                <input asp-for="Name" id="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="form-label">Фамилия</label>
                <input asp-for="Surname" id="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="form-label">Возраст</label>               
                <input asp-for="Age" id="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="form-label">Номер телефона</label>
                <input asp-for="Number" id="Number" class="custom-input form-control"/>
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentID" class="control-label">Отдел</label><br>
                <select asp-for="DepartmentID" class="form-select" asp-items="ViewBag.Departments">
                    <option value="">Выберите отдел</option>
                </select>                
                <span asp-validation-for="DepartmentID" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Добавить" class="btn btn-primary " />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Department">На главную</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
