@model ApplicationUserModel

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && Model != null)
    {  
        <li class="nav-item">         
            <a class="btn btn-outline-primary fw-bold btn fixed-size-btn" asp-action="Index" asp-controller="ManageAccount" title="Manage">Профиль</a>
        </li>
        <li class="nav-item">              
            <a class="btn btn-outline-success fw-bold btn fixed-size-btn" asp-action="Logout" asp-controller="Account">Выйти</a>
        </li> 
    }         
    else
    {
         <li class="nav-item">
            <a class="btn btn-outline-primary fw-bold btn fixed-size-btn" asp-action="Registration" asp-controller="Account">Регистрация</a>
         </li>
         <li class="nav-item">
            <a class="btn btn-outline-success fw-bold btn fixed-size-btn" asp-action="Login" asp-controller="Account">Вход</a>
         </li>
    }   
</ul>

