@using Microsoft.AspNetCore.Identity
@using Company.Data
@inject SignInManager<ApplicationUserModel> SignInManager
@inject UserManager<ApplicationUserModel> UserManager

 @if(SignInManager.IsSignedIn(User) && User.IsInRole("User"))
 {
    <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="Create">Добавить сотрудника</a>
    <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="Details">Список сотрудников</a>
 } 