@model DepartmentModel
@{
    ViewData["Title"] = Model.DepartmentName;    
}

<h1>@Model.DepartmentName</h1>

<div class="departmentContainer">
    <p>
        Отдел обслуживания клиентов является ключевым элементом взаимодействия компании с ее клиентами. Он объединяет в себе два важных подотдела
        - @Html.ActionLink("Отдел продаж", "Details", "Department", new{@departmentName="Отдел продаж"}) и 
        @Html.ActionLink("Отдел логистики", "Details", "Department", new{@departmentName="Отдел логистики"}), чтобы обеспечить полный цикл обслуживания клиентов.
        
    </p>
    <img class="departmentImg" src="/images/DepartmentImg/customerService.jpg" alt="customer department"/>
    <p>
        Общая цель: Обеспечение высокого уровня обслуживания клиентов и удовлетворение их потребностей.
    </p>
</div>
        