@model DepartmentModel
@{
    ViewData["Title"] = Model.DepartmentName;    
}

<h1>@Model.DepartmentName</h1>

<div class="departmentContainer">
    <p>
        Отдел логистики, включающий
        @Html.ActionLink("складское подразделение", "Details", "Department", new{@departmentName="Склад"}) и 
        @Html.ActionLink("отдел доставки", "Details", "Department", new{@departmentName="Отдел доставки"}), играет ключевую роль 
        в эффективном управлении поставками и распределении продукции, производимой нашей компанией, а так же 
        материалов и информации внутри организации.
    </p>
    <p>
    <img class="departmentImg" src="/images/DepartmentImg/logistics.jpg" alt="logistics department"/>
    </p>
    <p>
        Цель: Обеспечить эффективную и надежную поставку и доставку товаров или услуг, минимизировать затраты на 
        логистику и оптимизировать цепочку поставок.
    </p>
</div>
