@model DepartmentModel

@{
    ViewData["Title"] = Model.DepartmentName;
}

<h1>@Model.DepartmentName</h1>

<div class="departmentContainer">
    <img class="departmentImg" src="/images/DepartmentImg/production.jpg" alt="production department"/>
    <p>
        Производственный отдел является ключевым подразделением компании, ответственным за планирование, координацию и 
        контроль всех производственных операций. Этот отдел играет важную роль в обеспечении эффективности и качества 
        процесса производства. Данный отдел состоит из
        @Html.ActionLink("инженерного отдела", "Details", "Department", new{@departmentName="Инженерный отдел"}),
        @Html.ActionLink("отдела контроля качества", "Details", "Department", new{@departmentName="Отдел контроля качества"}) и
        @Html.ActionLink("отдела закупок", "Details", "Department", new{@departmentName="Отдел закупок"}).
    </p>
    <p>
        Цель: Обеспечить эффективное производство продукции или предоставление услуг, 
        соблюдая высокий стандарт качества и удовлетворяя потребности клиентов.
    </p>
</div>

