@model DepartmentModel

@{
    ViewData["Title"] = Model.DepartmentName;
}

<h1>@Model.DepartmentName</h1>

<div class="departmentContainer">   
    <p>
        Отдел закупок является важным компонентом производственного процесса в компании. Он отвечает за планирование,
        координацию и осуществление закупок необходимых материалов, оборудования и услуг для обеспечения бесперебойной
        работы производства 
    </p> 
    <img class="departmentImg" src="/images/DepartmentImg/purchasing.jpg" alt="purchasing department"/>
    <p>
        Общая цель: Обеспечение эффективного и своевременного поставки необходимых ресурсов для производства и
        выполнения бизнес-задач компании.
    </p>
    <ul>
        Основные обязанности и функции отдела контроля качества:
        <li>
            Планирование закупок: Отдел закупок разрабатывает планы и стратегии по закупкам для обеспечения 
            достаточного запаса необходимых материалов, компонентов и оборудования. Он анализирует потребности 
            производства, учитывает сезонные факторы и прогнозы спроса, чтобы определить оптимальные объемы закупок и
            сроки поставок.
        </li>
        <li>
           Поиск и выбор поставщиков: Отдел закупок осуществляет поиск и выбор надежных поставщиков, с которыми 
           компания может установить долгосрочные партнерские отношения. Он проводит анализ рынка, оценивает 
           предложения и условия поставщиков, исследует их репутацию, качество продукции и услуг, цены и условия 
           поставок.
        </li>
        <li>
            Поставщиковые отношения: Отдел закупок поддерживает взаимодействие с поставщиками, осуществляет переговоры 
            по условиям поставок, заключает контракты и соглашения. Он следит за соблюдением условий договоров, 
            оценивает качество поставляемых товаров и услуг, разрешает споры и проблемы, возникающие в процессе 
            сотрудничества с поставщиками.
        </li>
        <li>
            Анализ рынка и ценовая стратегия: Отдел закупок анализирует рынок и проводит исследования цен на 
            материалы и оборудование. Он следит за изменениями цен, конъюнктурой рынка и конкурентными предложениями.
            Отдел разрабатывает ценовую стратегию, осуществляет переговоры по ценам и условиям закупок с поставщиками.
        </li>            
        <li>
            Оптимизация затрат: Отдел закупок работает на оптимизацию затрат компании путем поиска альтернативных
            поставщиков, снижения стоимости материалов и оборудования, проведения тендерных процедур, согласования
            объемов закупок и оптимизации логистических процессов.
        </li>
        <li>
            Контроль и учет: Отдел закупок осуществляет контроль и учет закупленных материалов, оборудования и услуг. 
            Он следит за соблюдением бюджета, контролирует сроки поставок, осуществляет приемку и проверку качества 
            закупленных товаров, а также поддерживает учет и отчетность по закупкам.
        </li>
        </ul>
    <p>
        Отдел закупок играет важную роль в обеспечении непрерывного производственного процесса 
        и эффективного использования ресурсов компании. Благодаря своим навыкам в планировании, 
        анализе рынка, переговорах и управлении поставками, отдел закупок способствует оптимизации затрат, 
        обеспечению качества и своевременной поставке необходимых ресурсов для компании.
    </p>    
</div>
     