@model DepartmentModel
@{
    ViewData["Title"] = Model.DepartmentName;    
}

<h1>@Model.DepartmentName</h1>

<div class="departmentContainer">
    <p>
        Отдел продаж является ключевым компонентом успешной работы компании, ответственным за привлечение новых 
        клиентов, увеличение объема продаж и установление долгосрочных отношений с клиентами.
        Отдел продаж включает в себя отдел 
        @Html.ActionLink("отдел розничных продаж", "Details", "Department", new{@departmentName="Отдел розничных продаж"}) 
        @Html.ActionLink("отдел оптовых продаж", "Details", "Department", new{@departmentName="Отдел оптовых продаж"}).         
    </p>
    <img class="departmentImg" src="/images/DepartmentImg/sales.jpg" alt="sales department"/>
    <p>
        Общая цель: Обеспечение успешных продаж продукции или услуг компании и удовлетворение потребностей клиентов.
    </p>
</div>
