@model DepartmentModel
@{
    ViewData["Title"] = Model.DepartmentName;
}

<h1>@Model.DepartmentName</h1>

<div class="departmentContainer">
   
    <p>
        Наш склад является неотъемлемой частью отдела логистики и выполняет важные функции в хранении и управлении 
        физическими запасами нашей продукции. Мы обеспечиваем оптимальные условия хранения, чтобы гарантировать 
        сохранность и качество нашей продукции.
    </p> 
    <img class="departmentImg" src="/images/DepartmentImg/stock.jpg" alt="stock department"/>
    <p>
        Основная цель: Обеспечить эффективное хранение, управление и распределение товаров или материалов, 
        с минимальными затратами и максимальной операционной эффективностью.
    </p>
    Основные обязанности:
    <ul>
        <li>
            Профессиональное хранение: наш специализированный складской персонал обеспечивает безопасное и 
            эффективное хранение нашей продукции. Мы следим за температурными условиями, влажностью и другими 
            факторами, которые могут повлиять на качество продукции.            
        </li>
        <li>
            Учет и инвентаризация: мы ведем точный учет наших запасов, используя современные системы учета и 
            технологии. Периодически проводим инвентаризацию, чтобы убедиться в точности нашей информации о 
            наличии продукции на складе.
        </li>
        <li>
            Комплектация и упаковка: наш профессиональный складской персонал выполняет комплектацию заказов и 
            правильную упаковку нашей продукции. Мы обеспечиваем, чтобы каждый заказ был собран и упакован с 
            высокой степенью аккуратности и защиты продукции во время транспортировки.
        </li>
        <li>
            Оперативная подготовка к отгрузке: наша команда на складе готовит продукцию к отгрузке с минимальными
            задержками. Мы работаем в тесном сотрудничестве с отделом доставки, чтобы обеспечить своевременную 
            доставку наших товаров клиентам.
        </li>
    </ul>  
      
     
</div>