@model Company.Models.Department
@{
    ViewData["Title"] = Model.DepartmentName;
}

<h1>@Model.DepartmentName</h1>

<div class="departmentContainer">
    <img class="departmentImg" src="/images/DepartmentImg/bookkeeping.jpg" alt="bookkeeping department"/>
    <p>
        Отдел бухгалтерии является важной частью компании, ответственной за финансовые аспекты и учет операций. 
        Он играет ключевую роль в обеспечении финансовой прозрачности, точности и соответствия бухгалтерской 
        отчетности требованиям законодательства.
    </p>
    <p>
        Общая цель данного отдела - это обеспечение финансовой прозрачности и точности учета операций компании, подготовка финансовой 
        отчетности, соблюдение требований законодательства и нормативных актов.
    </p>
    Основные обязанности и функции отдела бухгалтерии:
    <ul>        
        <li>
            Ведение бухгалтерского учета: Отдел бухгалтерии отвечает за регистрацию и учет всех финансовых операций 
            компании, включая доходы, расходы, активы, обязательства и капитал. Это включает записи о продажах, 
            закупках, оплате поставщиков, зарплате сотрудников, налоговых платежах и других финансовых транзакциях.
        </li>
        <li>
            Подготовка финансовой отчетности: Отдел бухгалтерии составляет и подготавливает финансовую отчетность 
            компании, включая баланс, отчет о прибылях и убытках, отчет о движении денежных средств и примечания к 
            отчетности. Эти отчеты предоставляют информацию о финансовом положении компании и ее результативности.
        </li>
        <li>
            Соблюдение требований законодательства: Отдел бухгалтерии следит за соответствием финансовой отчетности 
            требованиям законодательства и нормативных актов, таких как местные налоговые законы, стандарты 
            бухгалтерского учета и международные стандарты финансовой отчетности (МСФО). Он обеспечивает своевременное
            и точное представление отчетности налоговым органам и другим заинтересованным сторонам.
        </li>
        <li>
            Управленческий учет и анализ: Отдел бухгалтерии предоставляет финансовую информацию и отчеты руководству 
            компании для принятия стратегических решений. Он выполняет анали
        </li>
    </ul>    
</div>
