@model Company.Models.Department
@{
    ViewData["Title"] = Model.DepartmentName;
}
 <h1>@Model.DepartmentName</h1>
 <div class="departmentContainer">
      <img src="/images/DepartmentImg/engineering.jpg" class="departmentImg" alt="engineering department"/>
      <p>
          Инженерный отдел является ключевым компонентом производственного процесса в компании. Он выполняет широкий 
          спектр задач, связанных с разработкой, проектированием и оптимизацией технических решений для производства
          продукции. 
      </p>
      <p>
          Общая цель: Разработка и внедрение технических решений, обеспечение эффективного и 
          качественного производственного процесса.
      </p>
      <ul>
          Основные обязанности и функции инженерного отдела:
          <li>
              Проектирование и разработка: Инженеры отдела занимаются проектированием и разработкой новых продуктов и 
              технологий. Они создают концептуальные и детальные проекты, разрабатывают чертежи, модели и спецификации,
              учитывая требования заказчика и стандарты безопасности.
          </li>
          <li>
              Оптимизация технологических процессов: Инженерный отдел стремится к непрерывному улучшению 
              производственных процессов. Он анализирует и оптимизирует существующие технологические процессы, 
              ищет возможности для снижения затрат, повышения производительности и качества продукции. Инженеры 
              внедряют новые методы и технологии, автоматизируют процессы, исследуют и внедряют передовые практики 
              производства.
          </li>
          <li>
              Техническая поддержка: Инженерный отдел предоставляет техническую поддержку другим отделам компании, 
              таким как отделы производства, закупок и контроля качества. Он консультирует сотрудников по техническим
              вопросам, решает проблемы, связанные с производственными процессами и оборудованием.
          </li>
          <li>
              Внедрение новых технологий: Инженерный отдел следит за новыми технологиями и инновациями в отрасли. 
              Он изучает и оценивает новые методы и инструменты, которые могут улучшить процессы производства. 
              При необходимости инженеры внедряют новые технологии, обеспечивая современность и конкурентоспособность
              компании.
          </li>
          <li>
              Тестирование и анализ: Инженеры отдела проводят тестирование и анализ продукции и процессов для 
              обеспечения их соответствия стандартам качества и безопасности. Они разрабатывают методы испытаний, 
              проводят испытания и анализируют результаты, выявляя возможные улучшения и корректируя процессы.
          </li>
          <li>
              Обучение и развитие: Инженерный отдел обеспечивает обучение и развитие своих сотрудников. 
              Он предоставляет программы обучения и тренингов, чтобы поддерживать и расширять знания и навыки 
              инженеров, а также следит за их профессиональным развитием.
          </li>
      </ul>
      <p>
          Инженерный отдел играет важную роль в обеспечении эффективного производственного процесса и разработке новых
          технических решений в компании. Благодаря своему экспертному знанию и навыкам, инженеры способствуют 
          улучшению качества, снижению затрат и повышению производительности компании.
      </p>
 </div>