@model List<Company.Models.DepartmentNumberPoco>
@using Company.Helpers
@{
    ViewData["Title"] = "Home Page";
}
﻿
<h1>Структура компании</h1>
@{
    async Task RenderSubDepartment(int? departmentID, List<DepartmentNumberPoco> departments)
    {
        var subdepartments = departments.Where(d => d.ParentID == departmentID);

        if (subdepartments.Any())
        {
            <ul class="nested-list">
             @foreach(var department in subdepartments)
                {
                   <li class="hierarchy-item"><a class="nav-link" asp-action="Delivery"  asp-controller="Department">@department.DepartmentName</a></li>
                   await RenderSubDepartment(department.ID, departments);
                }
            </ul>
        }        
    }
}

<ul id="hierarchy" class="hierarchy"> 
    @foreach (var department in Model.Where(d => d.ParentID == null))
    {        
        <li class="hierarchy-item"><a class="nav-link" asp-action="Delivery"  asp-controller="Department">@department.DepartmentName</a></li>        
        await RenderSubDepartment(department.ID, Model); 
    }
</ul>



         //asp-route-departmentId="department.ID"
