@model List<Company.Models.DepartmentNumberPoco>

@using Company.Helpers
@{
    ViewData["Title"] = "Home Page";
}
﻿
<h1>Структура компании</h1>
@{
    async Task RenderSubDepartment(int? departmentID, List<DepartmentNumberPoco> departments)
    {
        var subdepartments = departments.Where(d => d.ParentID == departmentID);

        if (subdepartments.Any())
        {
            <ul>
             @foreach(var dep in subdepartments)
                {
                   <li><a asp-action="DetailsDepartment" asp-route-id="@dep.ID" asp-controller="Department">@dep.DepartmentName</a></li>
                   await RenderSubDepartment(dep.ID, departments);
                }
            </ul>
        }        
    }
}

<ul>
    @foreach (var department in Model.Where(d => d.ParentID == null))
    {        
        <li><a asp-action="DetailsDepartment" asp-route-id="@department.ID" asp-controller="Department">@department.DepartmentName</a></li>        
        await RenderSubDepartment(department.ID, Model); 
    }
</ul>



         
