@model DepartmentModel

@{
    ViewData["Title"] = Model.DepartmentName;
}

<h1>@Model.DepartmentName</h1>

<div class="departmentContainer">
    <img class="departmentImg" src="/images/DepartmentImg/production.jpg" alt="production department"/>
    <p>
        Производственный отдел является ключевым подразделением компании, ответственным за планирование, координацию и 
        контроль всех производственных операций. Этот отдел играет важную роль в обеспечении эффективности и качества 
        процесса производства. Данный отдел состоит из 
        <a asp-action="Details" asp-route-departmentName="Инженерный отдел">инженерного отдела</a>,
        <a asp-action="Details" asp-route-departmentName="Отдел контроля качества">отдела контроля качества</a> и 
        <a asp-action="Details" asp-route-departmentName="Отдел закупок">отдела закупок</a>.
    </p>
    <p>
        Цель: Обеспечить эффективное производство продукции или предоставление услуг, 
        соблюдая высокий стандарт качества и удовлетворяя потребности клиентов.
    </p>
</div>

