@model Company.Models.DepartmentModel

@{
    ViewData["Title"] = Model.DepartmentName;
}

<h1>@Model.DepartmentName</h1>

<div class="departmentContainer">   
    <p>
        Отдел контроля качества играет важную роль в обеспечении высокого стандарта качества продукции в компании. 
        Он отвечает за контроль и обеспечение соответствия продукции требованиям, спецификациям и стандартам качества. 
    </p> 
    <img class="departmentImg" src="/images/DepartmentImg/qualityControl.jpg" alt="quality control department"/>
    <p>
        Общая цель: Обеспечение высокого стандарта качества продукции и соответствие требованиям и стандартам.
    </p>
    Основные обязанности и функции отдела контроля качества:
    <ul>        
        <li>
            Планирование и разработка стандартов контроля: Отдел контроля качества разрабатывает стандарты 
            контроля, которые определяют параметры и требования к качеству продукции. Он участвует в планировании
            и определении процедур и методов контроля, которые должны быть применены на различных стадиях 
            производственного процесса.
        </li>
        <li>
            Входной контроль: Отдел контроля качества осуществляет контроль качества поставляемых материалов
            и компонентов. Это включает проверку качества входящих материалов на соответствие спецификациям и 
            требованиям, проведение испытаний и анализа.
        </li>
        <li>
            Процесс контроля: Отдел контроля качества проводит контроль качества на различных этапах 
            производственного процесса. Он проверяет соответствие продукции установленным стандартам и
            спецификациям, осуществляет измерения, испытания и анализ для выявления дефектов, несоответствий или 
            отклонений.
        </li>
        <li>
            Контроль готовой продукции: Отдел контроля качества проводит контроль готовой продукции перед её 
            отправкой на склад или клиентам. Он осуществляет финальную проверку продукции на соответствие 
            требованиям и стандартам качества, проводит испытания, измерения и анализ.
        </li>            
        <li>
            Анализ и решение проблем: Отдел контроля качества анализирует данные и результаты контроля, выявляет
            проблемы или отклонения в процессе производства и продукции. Он работает над выявлением причин дефектов
            или несоответствий и предлагает меры по их устранению и предотвращению.
        </li>
        <li>
            Обучение и обратная связь: Отдел контроля качества проводит обучение сотрудников по вопросам контроля
            качества, стандартам и процедурам. Он также обеспечивает обратную связь с другими отделами и 
            сотрудниками компании по вопросам качества и рекомендует улучшения и корректировки процессов.
        </li>
        </ul>
    <p>
        Отдел контроля качества играет ключевую роль в обеспечении высокого стандарта качества продукции компании. 
        Благодаря своему экспертному знанию, методам контроля и анализа, отдел контроля качества способствует улучшению
        качества продукции, удовлетворению потребностей клиентов и поддержанию репутации компании.
    </p>    
</div>
     