@model Company.Models.Department
@{
    ViewData["Title"] = Model.DepartmentName;
}
 <h1>@Model.DepartmentName</h1>
 <div class="departmentContainer">
      <img class="departmentImg" src="/images/DepartmentImg/retailSales.jpg" alt="retail sales department"/>
      <p>
          Отдел розничных продаж играет ключевую роль в привлечении и обслуживании клиентов на розничном рынке. 
          Его задача заключается в продвижении продукции или услуг компании, установлении эффективных отношений 
          с клиентами и достижении высоких показателей продаж.  
      </p>

      <p>Общая цель: Увеличение объема продаж и обеспечение удовлетворения клиентов на розничном рынке.</p>

      Основные обязанности и функции инженерного отдела:
      <ul>          
          <li>  
              Привлечение клиентов:            
              <ul>                  
                  <li>
                      Идентификация целевой аудитории: Отдел розничных продаж определяет целевую аудиторию, анализирует ее потребности и предпочтения, чтобы эффективно настраивать свои маркетинговые и продажные стратегии.
                  </li>
                  <li>
                      Реклама и маркетинг: Отдел розничных продаж разрабатывает и реализует рекламные кампании, 
                      ероприятия и акции для привлечения внимания потенциальных клиентов. Он также проводит 
                      маркетинговые исследования и анализирует конкурентную среду для разработки эффективных 
                      стратегий продаж.
                  </li>
                  <li>
                      Создание привлекательных предложений: Отдел розничных продаж разрабатывает привлекательные 
                      предложения, акции, скидки и специальные условия покупки, чтобы привлечь клиентов и стимулировать
                      продажи.
                  </li>
              </ul>
          </li>
           <li>  
              Консультации и обслуживание клиентов:            
              <ul>                  
                  <li>
                     Предоставление информации о продукции: Отдел розничных продаж консультирует клиентов, 
                     предоставляет подробную информацию о продукции, ее характеристиках, преимуществах и способах 
                     использования. Он помогает клиентам принять осознанное решение при покупке.
                  </li>
                  <li>
                      Поддержка и ответы на вопросы: Отдел розничных продаж отвечает на вопросы клиентов, помогает им
                      с выбором товаров или услуг, предоставляет рекомендации и решает возникающие проблемы.
                  </li>
                  <li>
                      Обработка заказов и оформление продаж: Отдел розничных продаж занимается обработкой заказов 
                      клиентов, составлением договоров и документации, необходимой для совершения продажи. Он следит за
                      правильностью заполнения документов, соблюдает процедуры продажи и обеспечивает удобство для 
                      клиентов.
                  </li>
              </ul>
          </li>
           <li>  
              Управление отношениями с клиентами:
              <ul>                  
                  <li>
                      Стратегия удержания клиентов: Отдел розничных продаж разрабатывает стратегии удержания клиентов, 
                      например, программы лояльности, персонализированные предложения и послепродажное обслуживание, 
                      чтобы поддерживать долгосрочные отношения с клиентами.                 
                  </li>
                  <li>
                      Клиентская поддержка и обратная связь: Отдел розничных продаж обеспечивает клиентскую поддержку,
                      отвечает на жалобы и рекламации, решает возникающие проблемы и собирает обратную связь от 
                      клиентов для улучшения качества обслуживания.
                  </li>                  
              </ul>
          </li>
      </ul>
      <p>
          Отдел розничных продаж играет важную роль в успешной работе компании, обеспечивая привлечение клиентов, 
          увеличение продаж и удовлетворение клиентской базы.
      </p>
 </div>