@model Company.Models.DepartmentModel
@{
    ViewData["Title"] = Model.DepartmentName;
}
 <h1>@Model.DepartmentName</h1>
 <div class="departmentContainer">
      <img class="departmentImg" src="/images/DepartmentImg/wholeSales.jpg" alt="whole sales department"/>
      <p>
          Отдел оптовых продаж является важной составной частью компании и занимается продажами товаров или услуг
          оптовым клиентам, таким как розничные сети, дистрибьюторы, предприятия и организации. Его основной целью
          является увеличение объема продаж и установление долгосрочных партнерских отношений с оптовыми клиентами.
      </p>

      <p>Общая цель: Увеличение объема продаж и развитие партнерских отношений с оптовыми клиентами.</p>

      Основные обязанности и функции инженерного отдела:
      <ul>          
          <li>  
              Привлечение оптовых клиентов:            
              <ul>                  
                  <li>
                      Анализ рынка и поиск потенциальных клиентов: Отдел оптовых продаж исследует рынок, выявляет
                      потенциальных оптовых клиентов и анализирует их потребности и требования. Это может включать
                      исследование рынка, участие в выставках и конференциях, а также активный поиск новых партнеров.
                  <li>
                     Проведение презентаций и переговоров: Отдел оптовых продаж проводит презентации о продукции или 
                     услугах компании перед потенциальными клиентами и ведет переговоры о ценах, условиях поставки и 
                     других коммерческих условиях.
                  </li>                  
              </ul>
          </li>
           <li>  
              Заключение сделок и увеличение объема продаж:            
              <ul>                  
                  <li>
                     Осуществление продаж: Отдел оптовых продаж отвечает за заключение сделок с оптовыми клиентами. 
                     Это включает составление и подписание контрактов, заполнение заказов и обеспечение доставки 
                     товаров или оказания услуг в соответствии с требованиями клиентов.
                  </li>
                  <li>
                      Развитие клиентской базы: Отдел оптовых продаж стремится увеличить объем продаж, активно 
                      работая с существующими клиентами, предлагая им новые продукты, услуги или расширенные 
                      возможности сотрудничества. Он также стремится привлечь новых клиентов через рекомендации, 
                      референции и маркетинговые инициативы.
                  </li>                 
              </ul>
          </li>
           <li>  
              Поддержка клиентов и управление отношениями:
              <ul>                  
                  <li>
                      Обеспечение высокого уровня обслуживания: Отдел оптовых продаж обеспечивает высокий уровень
                      обслуживания клиентов, отвечая на их запросы, предоставляя необходимую информацию о продукции,
                      решая возникающие проблемы и обеспечивая своевременную поддержку.                
                  </li>
                  <li>
                      Разработка партнерских отношений: Отдел оптовых продаж стремится к развитию долгосрочных 
                      партнерских отношений с оптовыми клиентами. Это включает постоянное общение, установление 
                      взаимовыгодных условий сотрудничества, предоставление специальных условий и скидок, а также 
                      постоянный мониторинг и оценку удовлетворенности клиентов.
                  </li>                  
              </ul>
          </li>
      </ul>
      <p>
         Отдел оптовых продаж играет важную роль в развитии бизнеса компании, обеспечивая устойчивый рост продаж,
         удовлетворение оптовых клиентов и развитие долгосрочных партнерских отношений.
      </p>
 </div>