@{
    ViewData["Title"] = "Подтверждение восстановления пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль восстановлен. Нажмите <a asp-action="Login" asp-controller="Account">здесь</a>, чтобы войти.
</p>