@using Microsoft.AspNetCore.Identity
@using Company_.Data
@using System.Security.Claims;
@model ApplicationUserModel
@inject SignInManager<ApplicationUserModel> SignInManager
@inject UserManager<ApplicationUserModel> UserManager

@{
  var user = UserManager.GetUserAsync(User);
  var claimRole = User.FindFirst(ClaimTypes.Role)?.Value;
}

<ul class="navbar-nav">
  @if (SignInManager.IsSignedIn(User) && claimRole == "Admin")
  {
    <li class="nav-item">
       <a class="nav-link text-dark" id="AdminPanel" asp-action="Index" asp-controller="Admin">AdminPanel</a>
    </li>
  }
</ul>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {  
        <li class="nav-item">         
            <a class="nav-link text-dark" id="NameAccount" asp-action="_ManageAccountNav" asp-controller="ManageAccount" title="Manage">Привет, @Model.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-action="Logout" asp-controller="Account" method="post" >
                <button class="nav-link btn btn-link text-dark"type="submit">Выйти</button>
            </form>
        </li> 
    }         
    else
    {
         <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Регистрация</a>
         </li>
         <li class="nav-item">
             <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Вход</a>
         </li>
    }   
</ul>

<script src="/js/updateDataProfile.js"></script>