@model RegistrationModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-action="Registration" asp-controller="Account" method="post">
            <h2>Регистрация учетной записи</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" autocomplete="username" placeholder="name@example.com" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
             <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" autocomplete="username" placeholder="Name" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" autocomplete="new-password" placeholder="password" />
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="password" />
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Зарегистрировать</button>
        </form>
    </div>   
</div>
 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

