@model EmployeeModel

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить сотрудника</h1>

<h4>Анкета:</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="@nameof(EmployeeController.Create)" asp-controller="@typeof(EmployeeController).ControllerName()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="form-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="form-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="form-label"> </label>
                <input asp-for="Number" class="custom-input form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentID" class="control-label"></label><br>
                <select asp-for="DepartmentID" class="form-select" asp-items="ViewBag.Departments">
                    <option>Выберите отдел</option>
                </select>
                <span asp-validation-for="DepartmentID" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Добавить" class="btn btn-outline-primary btn-sm fw-bold" />
                <a asp-action="@nameof(EmployeeController.Details)" asp-controller="@typeof(EmployeeController).ControllerName()" class="btn btn-outline-secondary btn-sm fw-bold">Назад</a>
            </div>
        </form>
    </div>
</div>

<script src="~/js/CreateUser.js"></script>


