@model EmployeeModel

@{
    ViewData["Title"] = "View";
}

<h1>Изменение записи</h1>

<h4>Сотрудник</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Имя</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">Фамилия</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label">Возраст</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Номер телефона</label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentID" class="control-label">Отдел</label><br>
                <select asp-for="DepartmentID"  class="form-select" asp-items="ViewBag.Departments">
                    <option value="">Выберите отдел</option>
                </select>                
                <span asp-validation-for="DepartmentID" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Сохранить" class="btn btn-outline-primary btn-sm fw-bold" />
                <a asp-action="Details" class="btn btn-outline-secondary btn-sm fw-bold" asp-controller="Employee">Назад</a>
            </div>
        </form>
    </div>
</div>

<script src="~/js/CreateUser.js"></script>