@{
    var roles = User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value);
    var displayed = false;
}

@foreach (var role in roles)
{
    @switch (role)
    {
        case "Admin":
            <a class="nav-link text-dark" asp-controller="Employee" asp-action="Details">Список сотрудников</a>
            <a class="nav-link text-dark" id="AdminPanel" asp-controller="Admin" asp-action="Index">Панель управления</a>
            displayed = true;
            break;
        case "Manager":
        case "User":
            <a class="nav-link text-dark" asp-controller="Employee" asp-action="Details">Список сотрудников</a>
            displayed = true;
            break;
        default:
            break;
    }

    if (displayed)
        break;
}