@{
   ViewData["Title"] = "Персональные данные";
   
}

<h3>@ViewData["Title"]</h3>

<div class="row">
  <div class="col-md-6">
    <p>Ваша учетная запись содержит персональные данные, которые вы нам предоставили. Эта страница позволяет вам удалить эти данные.</p>
    <p>
      <strong>Удаление этих данных навсегда удалит вашу учетную запись, без возможности восстановления.</strong>
    </p>  
    <a id="delete-personal-data" href="" data-form="DeletePersonalData" class="btn btn-danger">Удалить учетную запись</a>
  </div>
</div>

@section Scripts {
   <partial name="_ValidationScriptsPartial" />
}

